<div class ="container">
  <div class="row d-flex justify-content-center my-2">
    <div class="col d-flex justify-content-center">
      On sale today:
    </div>
  </div>

  <a class="row my-2 d-flex justify-content-center" [routerLink]="['/home/order', myOffer.product]"
     *ngFor="let myOffer of offers">

    <div class="col-4 d-flex justify-content-center">
      <label>We offer {{myOffer.amount}} </label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>{{myOffer.product}}</label>
    </div>
    <div class="col-2 d-flex">
      <label>${{myOffer.price}} </label>
    </div>
  </a>

  <div class="row my-2">
      <pre>
      {{debugString}}
      </pre>
  </div>
</div>
