


<body>

<div class="container-fluid my-5 py-5">

  <h1 class="fw-bold text-primary text-center my-4">Mirco Shop</h1>

  <div class="row justify-content-center my-5">
    <div class="col-md-auto">
      <a id="offer-tasks-button" class="btn btn-outline-dark" routerLink="/offer-tasks"><h4 class="m-2">Offer Tasks</h4></a>
    </div>

    <div class="col-md-auto">
      <a class="btn btn-outline-dark" routerLink="/shopping"><h4 class="m-2">Shopping</h4></a>
    </div>

  </div>

</div>

</body>

