<!--<div class ="container">-->
<!--  <div class="row d-flex justify-content-center my-2">-->
<!--    <div class="col d-flex justify-content-center">-->
<!--      Do you want to deliver order? <br>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row my-2 d-flex justify-content-center">-->
<!--    <div class="col-1 d-flex justify-content-center">-->
<!--      <b>product</b>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <b>address, customer</b>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <b>state</b>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <b>locations</b>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row my-2 d-flex justify-content-center" [routerLink]="['/home']"-->
<!--       *ngFor="let pickTask of pickTasks">-->

<!--    <div class="col-3 d-flex justify-content-center">-->
<!--      <label>{{pickTask.product}}</label>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <label>{{pickTask.address}} </label>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <label>{{pickTask.state}} </label>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <label>{{pickTask.locations}} </label>-->
<!--    </div>-->
<!--    <div class="col-2 d-flex">-->
<!--      <a id='deliver-button' class="btn btn-primary" routerLink="/pick-tasks">deliver</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
