

<h1 class="fw-bold text-primary text-center my-4">Add Palette</h1>

<h2 class="text-dark text-center my-4">Store new palette:</h2>


<div class="row flex-column">

  <div class="col d-flex justify-content-center">
    <!--We want to store this varibale that people are inputting here.-->
    <input id="barcodeInput" placeholder="barcode" [(ngModel)]="barcode"/>
  </div>

  <div class="col d-flex justify-content-center">
    <input id="productInput" placeholder="product" [(ngModel)]="product"/>
  </div>

  <div class="col d-flex justify-content-center">
    <input id="amountInput" placeholder="amount" [(ngModel)]="amount"/>
  </div>

  <div class="col d-flex justify-content-center">
    <input id="locationInput" placeholder="location" [(ngModel)]="location"/>
  </div>
</div>

<div>
  <h4 class="fw-bolder text-dark text-center my-4">Current selection: <br> {{barcode}} {{product}} {{amount}} {{location}}</h4>
</div>

<div>
  <h4 class="fw-bolder text-dark text-center my-4">Are you sure you want to create this palette?</h4>
</div>

<div class="row my-2">
  <div class="col d-flex justify-content-center">
    <button class="btn btn-lg btn-outline-dark col-xs-12" (click)="addPalette()"><span class="glyphicon glyphicon-plus"></span><h3 class="fw-bold m-1">Add</h3></button>
    <!--<button class="btn btn-outline-dark" (click)="addPalette()">Add</button>-->
  </div>
</div>

