

<body>

  <div class="container-fluid my-5 py-5">

    <h1 class="fw-bold text-primary text-center my-4">Welcome to the Warehouse</h1>

    <div class="row justify-content-center my-5">
      <div class="col-md-auto">
        <a class="btn btn-outline-dark" href="/store-tasks"><h4 class="m-2">Store Tasks</h4></a>
      </div>

      <div class="col-md-auto">
        <a class="btn btn-outline-dark" href="/pick-tasks"><h4 class="m-2">Pick Tasks</h4></a>
      </div>

    </div>

  </div>

</body>
