
<form [formGroup]="formGroup" (ngSubmit)="submitOffer()">
  <div class="container">
    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <h2 class="fw-bold text-primary text-center my-4">Order details:</h2>
      </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <input id="orderInput" type="text" placeholder="order id?" formControlName="order" [style.color]="!formGroup.value.productName?'black':null">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <input id="productInput" type="text" placeholder="product?" formControlName="product" [style.color]="!formGroup.value.productPrice?'black':null">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <input id="customerInput" type="text" placeholder="your name?" formControlName="customer" [style.color]="!formGroup.value.productName?'black':null">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <input id="addressInput" type="text" placeholder="your address?" formControlName="address" [style.color]="!formGroup.value.productPrice?'black':null">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <p class="my-2"> <b>{{formGroup.get('customer')?.value}}</b> do you want to order
          <b>{{formGroup.get('product')?.value}}</b> to address <b>{{formGroup.get('address')?.value}}?</b></p>
      </div>
    </div>



    <div class="row d-flex justify-content-center my-2">
      <div class="col d-flex justify-content-center">
        <div class="col-md-auto">
          <button id="submitOrderButton" class="btn btn-outline-dark" routerLink="/store-tasks"><h4 class="m-2">Order</h4></button>
        </div>
        <!--<button id="submitOrderButton" type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Order</button>-->
      </div>
    </div>

    <p>{{formGroup.status}} {{formGroup.errors}} </p>

    <p>{{debugOut}}</p>
  </div>
</form>

